.container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__info {
        align-items: center;
        display: flex;
        gap: 50px;

        .image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    }
}
