<form class='container' [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class='container__info'>
        <ng-container *ngIf='userInfo?.imagem; else semImagem'>
            <img [src]="userInfo?.imagem" alt="user" class="image">
        </ng-container>
        <ng-template #semImagem>
            <img src="assets/user.jpeg" alt="user" class="image">
        </ng-template>
        <div class='container__nome'>
            <mat-form-field>
                <input
                    matInput
                    placeholder="Nome"
                    type="text"
                    id="nome"
                    formControlName="nome"
                />
            </mat-form-field>
        </div>
    </div>

    <div>
        <input
            formControlName="imagem"
            type="file"
            style="margin-bottom: 10px"
            (change)="onFileSelected($event)"
        />
    </div>

    <button filled-button type="submit" style='width: 100px' [disabled]="userForm.invalid">
        Salvar
    </button>
</form>
