<div class="welcome-container">
    <h1>Bem-vindo a SARA - Sistema Auxiliar à Reabilitação Auditiva!</h1>
    <p>
        Uma ferramenta de apoio didático-pedagógico na formação de profissionais fonoaudiólogos do
        Programa de Implante Coclear e Próteses Ósseo-integrada do Núcleo de Audição HUCAM/UFES.
        Para contribuir na formação de profissionais, o sistema permitir que
        fonoaudiólogos mais experientes, supervisores, avaliem e aprovem o
        plano terapêutico e evoluções de sessões preenchidos por
        profissionais menos experientes, reabilitadores.
    </p>

    <div class='imagem'>
        <img src='assets/coclear.png' alt='coclear' class='imagem-coclear'>

    </div>
</div>


<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <span class="title">-->
<!--            EDP1-->
<!--        </span>-->
<!--        <div class="historico">-->
<!--            <div class="item">-->
<!--                <span>Ana Luiza Santos cadastrou um paciente</span>-->
<!--                <span>03/05/2024</span>-->
<!--            </div>-->

<!--            <div class="item">-->
<!--                <span>João Martins cadastrou uma sessão</span>-->
<!--                <span>02/05/2024</span>-->
<!--            </div>-->

<!--            <div class="item">-->
<!--                <span>Ana Luiza Santos cadastrou um novo paciente</span>-->
<!--                <span>02/05/2024</span>-->
<!--            </div>-->

<!--            <div class="item">-->
<!--                <span>Ana Luiza Santos alterou um paciente</span>-->
<!--                <span>30/04/2024</span>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--        <span class="title">-->
<!--            EDP2-->
<!--        </span>-->
<!--        <div class="historico">-->
<!--            <div class="item">-->
<!--                <span>Julia Campos alterou um paciente</span>-->
<!--                <span>29/04/2024</span>-->
<!--            </div>-->

<!--            <div class="item">-->
<!--                <span>Julia Campos cadastrou um novo paciente</span>-->
<!--                <span>29/04/2024</span>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->


<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="title">&ndash;&gt;-->
<!--&lt;!&ndash;            SESSÕES&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="historico">&ndash;&gt;-->


<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="title">&ndash;&gt;-->
<!--&lt;!&ndash;            PENDÊNCIAS&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="historico">&ndash;&gt;-->


<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;        <span class="title">&ndash;&gt;-->
<!--&lt;!&ndash;            NOTIFICAÇÕES&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="historico">&ndash;&gt;-->


<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->
