<div class="container">
        <div class="options">
            <div class="option-group">
                <span class="option-header">Início</span>
            </div>

            <div class="option-group">
                <span class="option-header">Meus pacientes</span>
            </div>

            <div class="option-group">
                <span class="option-header">Sessões</span>
                <div class="options-container">
                    <span class="option">Frequência</span>
                    <span class="option">Planos</span>
                    <span class="option">Evoluções</span>
                    <span class="option">Termos e Protocolos</span>
                    <span class="option">Relatórios</span>
                </div>
            </div>

        </div>

    <span (click)="logout()" class="sair">Sair</span>
</div>
